<header class="header-bar">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a href="/" title="Click to log in">My Account</a>
    </div>
  </header>
  
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link <%= title==='Home'?'active':''%>">Home</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link <%= title==='Custom'?'active':''%>">Custom</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link <%= title==='Sedan'?'active':''%>">Sedan</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link <%= title==='SUV'?'active':''%>">SUV</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link <%= title==='Truck'?'active':''%>">Truck</a>
        </li>
      </ul>
    </div>
  </nav>
  
